@*
   View za Test Session
*@


<h1>Testiranje sesije</h1>
<hr/>

@*ViewBag svojstvo ReadSessionString ispisuje zabilježenu vrijednost sesije koja je proslijeđena iz akcije kontrolera*@
<p>@ViewBag.ReadSessionString</p>

<hr/>
@*Način dohvaćanja zadnje ažurirane vrijednosti ključa sesije*@
@*Context - svojstvo preko kojeg u pogledima MVC arhitekture možemo doći do sesije*@
<p>@Context.Session.GetString("sessionString")</p> 


@*Ako je korisnik posjetio stranicu Privacy...*@
@if (!String.IsNullOrEmpty(Context.Session.GetString("privacyString")))
{
    <p>Dobro došli!</p>

}

@*način brisanja sesije*@
@{
    Context.Session.SetString("privacyString", String.Empty); 
}

