@*
    1. uvjet = korisnik mora biti prijavljen
    2. uvjet = prijavljeni korisnik mora imati ulogu admina
*@


@using Microsoft.AspNetCore.Identity
@using DemoWebshop.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@*UVJET: Ako je korisnik prijavljen && da li je prijavljeni korisnik u ulozi Admina*@
@*(await - asinkrono programiranje) = PRVO se izvrši provjera da li je korisnik prijavljen a onda se kao DRUGO izvrši provjera da li je prijavljeni korisnik u ulozi Admina*@
@*Kad su ovi uvjeti TRUE na početnoj stranici ćemo vidjeti Button samo za Admina-a*@
@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{
    <div class="dropdown">
        <a class="btn nav-link dropdown-toggle" id="dropdownAdmin" data-bs-toggle="dropdown">
            Admin
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="categories" asp-action="index">
                    Categories
                </a>
            </li>
            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="products" asp-action="index">
                    Products
                </a>
            </li>
        </ul>
    </div>
}

